{% load tags %}
<table id='table_objects'>
</table>
<div id="win">
</div>

<div id="toolbar" style="margin-top: 10px;margin-bottom: 20px">
    <form id="form" method="post">
        {% for filter_field in admin_class.list_filters %}
            {% render_filter_ele filter_field admin_class %}
        {% endfor %}
        <input name='searchText' class="easyui-textbox" data-options="iconCls:'icon-search'" style="width:100px">
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="margin-left: 10px;"
           onclick="clearForm('form')">清空搜索条件</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-ok'" style="margin-left: 10px;" onclick="formSubmit()">搜索</a>
        <a class="easyui-linkbutton" data-options="iconCls:'icon-add'" style="margin-left: 10px;"
           onclick="table_object_add()">添加</a>
    </form>
</div>

<script>

    $('#table_objects').datagrid(
        {
            columns:{% build_table_header_column admin_class %},
            url: '{{request.path }}',
            pagination: true,
            rownumbers: true,
            pageList: [{{ admin_class.list_per_page }}, 10, 15, 20, 25],
            pageSize: {{ admin_class.list_per_page }},
            toolbar: '#toolbar'
        }
    )

    function edit_data(val, rowdata, rowIndex) {
        str_onclick = "onclick='on_edit_data(" + rowdata.id + ")'"
        return "<input type='button' value='编辑'" + str_onclick + " >"
    }

    function delete_data(val, rowdata, rowIndex) {
        str_onclick = "onclick='on_delete_data(" + rowdata.id + ")'"
        return "<input type='button' value='删除'" + str_onclick + " >"
    }

    function table_object_add() {

        django_url_built = '{% url 'table_obj_add'  app_name table_name  %}'
        $('#win').window({
            tools: [{
                iconCls: 'icon-add',
                handler: function () {
                    $('#change_add_table').form('submit')
                }
            }],
            width: 500,
            height: 500,
            modal: true,
            href: django_url_built,
            closed: false,
            title: '{{ app_name }}' + '->' + '{{ table_verbose_name }}' + '->' + '添加'


        })
    }

    function on_delete_data(id) {
        django_url_built = '{% url 'table_obj_delete'  app_name table_name '0000000000' %}'
        if (id) {
            django_url_built = django_url_built.replace('0000000000', id);
            $('#win').window({
                tools: [{
                    iconCls: 'icon-remove',
                    handler: function () {
                        $.messager.confirm('确认删除', '确认删除吗', function (areyousure) {
                            if (areyousure) {
                                $.post(django_url_built, {}, function (data) {
                                    if (data.success = 'success') {
                                        $('#table_objects').datagrid('reload', {})
                                    }
                                });
                            }
                        });


                    }
                }, {}],
                width: 500,
                height: 500,
                modal: true,
                href: django_url_built,
                closed: false,
                title: '删除+' + '{{ app_name }}' + '->' + '{{ table_verbose_name }}' + '->' + id
            });
        }
    }

    function on_edit_data(id) {

        django_url_built = '{% url 'table_obj_change'  app_name table_name '0000000000' %}'
        if (id) {
            django_url_built = django_url_built.replace('0000000000', id);
            $('#win').window({
                tools: [{
                    iconCls: 'icon-edit',
                    handler: function () {
                        $('#change_add_table').form('submit')
                    }
                }, {}],
                width: 500,
                height: 500,
                modal: true,
                href: django_url_built,
                closed: false,
                title: '{{ app_name }}' + '->' + '{{ table_verbose_name }}' + '->' + id
            });
        }

    }


    formate_Chinee('table_objects')

    function formSubmit() {
        postData = getFormdata('form')
        $('#table_objects').datagrid({
            queryParams: postData,
            pageNumber: 1,
            displayMsg: '当前显示从第{from}条到{to}条 共{total}条记录',
            beforePageText: '页数',
            afterPageText: '共{pages}页'
        })
        formate_Chinee('table_objects')
    }


</script>




